html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center horizontally */
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: #c5c3c4;
    margin-top: 40px;
    margin-bottom: 20px;
}

p{
    font-size: 23px;
}

.wrapper {
    width: 80%;
    max-width: 900px;
    min-height: 500px;
    border: #b7a2c9 solid;
    border-radius: 5px;
    background-color: rgba(75, 58, 112, 0.9);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* Space at bottom */
}

.players {
    color: #c5c3c4;
    display: inline-block;
    padding: 1%;
    margin: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.players p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

.input-box {
    background-color: #c5c3c4;
    color: #4b3a70;
    border-radius: 5px;
    padding: 10px;
}



.selectors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 20%;
}

.diceNum, .gameNum {
    color: #c5c3c4;
    font-size: 18px;
}
